@page "/instructors/{id:long}/edit"
@model WebApp.Pages.Instructors.EditModel
@{
}

<h1>Edit</h1>

<h4>Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-page="./Edit" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InstructorForUpdate.InstructorDataToModify.LastName" class="control-label"></label>
                <input asp-for="InstructorForUpdate.InstructorDataToModify.LastName" class="form-control" />
                <span asp-validation-for="InstructorForUpdate.InstructorDataToModify.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructorForUpdate.InstructorDataToModify.FirstMidName" class="control-label"></label>
                <input asp-for="InstructorForUpdate.InstructorDataToModify.FirstMidName" class="form-control" />
                <span asp-validation-for="InstructorForUpdate.InstructorDataToModify.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructorForUpdate.InstructorDataToModify.Email" class="control-label"></label>
                <input asp-for="InstructorForUpdate.InstructorDataToModify.Email" class="form-control" />
                <span asp-validation-for="InstructorForUpdate.InstructorDataToModify.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructorForUpdate.InstructorDataToModify.HireDate" class="control-label"></label>
                <input asp-for="InstructorForUpdate.InstructorDataToModify.HireDate" class="form-control" />
                <span asp-validation-for="InstructorForUpdate.InstructorDataToModify.HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructorForUpdate.InstructorDataToModify.OfficeLocation" class="control-label"></label>
                <input asp-for="InstructorForUpdate.InstructorDataToModify.OfficeLocation" class="form-control" />
                <span asp-validation-for="InstructorForUpdate.InstructorDataToModify.OfficeLocation" class="text-danger" />
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                var cnt = 0;

                                foreach (var course in Model.InstructorForUpdate.AllClasses)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedCourses"
                                               value="@course.CourseId"
                                               @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                                        @course.CourseId @:  @course.Title
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}